input {
	&[type='text'],
	&[type='email'],
	&[type='url'],
	&[type='password'],
	&[type='search'],
	&[type='number'],
	&[type='tel'],
	&[type='range'],
	&[type='date'],
	&[type='month'],
	&[type='week'],
	&[type='time'],
	&[type='datetime'],
	&[type='datetime-local'],
	&[type='color'] {
		border: 1px solid $color__border-input;
		border-radius: 3px;
		color: $color__text-input;
		padding: 3px;

		&:focus {
			color: $color__text-input-focus;
		}
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	border: 1px solid $color__border-input;
	border-radius: 3px;
	color: $color__text-input;
	padding: 3px;
	width: 100%;

	&:focus {
		color: $color__text-input-focus;
	}
}
