@use 'sass:math';

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	width: 100%;
	text-align: center;
	vertical-align: top;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: math.div(100%, $i);
		}
	}
}

.gallery-caption {
	display: block;
}
